services:
    redis: 
        image: redis:7.0.0-alpine
        container_name: redis
        command: ["redis-server","--protected-mode no"]
        ports:
            - 6379:6379
    # environment:
    #     ALLOW_EMPTY_PASSWORD: "yes"
    redisinsight:
        image: redislabs/redisinsight:latest
        ports:
            - 8001:8001
        depends_on:
            - redis
        links:
            - redis            
    web:
        build: .
        container_name: web
        ports:
            - 80:5000
        volumes:
            - .:/code
        depends_on:
            - redis
        links:
            - redis
            