services:
    redis: 
        image: redislabs/redismod
        container_name: redis
        ports:
            - 6379:6379
    redisinsight:
        image: redislabs/redisinsight:latest
        ports:
            - 8001:8001
    web:
        build: .
        container_name: web
        ports:
            - 5000:5000
        volumes:
            - .:/code
        depends_on:
            - redis
        links:
            - redis